################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/B2B/FileContentIndex/4bf2ae65-c2a4-4a6a-af8e-e50e9f571a27.vsidx
